ops/n8n/evolution-rag-ricardo/workflow_post_2026-03-05.redacted.json
{
  "name": "Evolution API - RAG Chatbot (Ricardo)",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a27df537-9670-4fe2-b112-8f8f3dc9aa6d",
              "name": "evolution_url",
              "value": "https://evolution.spadgyn.com.br",
              "type": "string"
            },
            {
              "id": "e2969e02-0af1-4d70-abae-cf0165ce5dfb",
              "name": "evolution_apikey",
              "value": "<REDACTED>",
              "type": "string"
            },
            {
              "id": "33835e7c-f045-4461-bb0b-c624b85820b6",
              "name": "instance",
              "value": "Whatsapp_Ricardo",
              "type": "string"
            },
            {
              "id": "49dbe41a-f687-4418-87c0-e3993629f13d",
              "name": "test_number",
              "value": "5511975792816",
              "type": "string"
            },
            {
              "id": "403eb195-f1b0-4f64-993e-da5bacdabbed",
              "name": "test_text",
              "value": "ping do n8n",
              "type": "string"
            },
            {
              "id": "2f661a3d-4775-45e0-95e5-80fcb6477fed",
              "name": "gemini_api_key",
              "value": "<REDACTED>",
              "type": "string"
            }
          ]
        },
        "options": {},
        "includeOtherFields": true,
        "include": "all"
      },
      "id": "afacd5e7-a7c1-42fb-ab6b-72830e3b26f8",
      "name": "CONFIG_EVOLUTION",
      "type": "n8n-nodes-base.set",
      "position": [
        48,
        80
      ],
      "typeVersion": 3.4,
      "notes": "PREENCHA AQUI SEUS DADOS"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution-rag-ricardo",
        "options": {},
        "responseMode": "onReceived"
      },
      "id": "b6a41b27-2322-4de8-a31a-1d50bc7c9d66",
      "name": "Webhook Evolution",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -176,
        80
      ],
      "typeVersion": 1,
      "webhookId": "webhook-evolution-chat"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body ?? input;\nconst event = body.event ?? '';\nconst eventName = String(event).toLowerCase();\nconst data = body.data ?? {};\nconst key = data.key ?? {};\nconst message = data.message ?? {};\nconst messageType = data.messageType ?? '';\n\nconst remoteJid = key.remoteJidAlt || key.remoteJid || '';\nconst senderNumber = remoteJid.split('@')[0] || '';\n\nconst isMessageEvent = !eventName || eventName.includes('message');\nconst isGroup = remoteJid.endsWith('@g.us');\nconst fromMe = key.fromMe === true;\n\nlet text = '';\nif (messageType === 'conversation') {\n  text = message.conversation ?? \"\";\n} else if (messageType === 'extendedTextMessage') {\n  text = message.extendedTextMessage?.text ?? \"\";\n} else if (messageType === 'imageMessage') {\n  text = message.imageMessage?.caption ?? \"\";\n} else if (messageType === 'documentMessage') {\n  text = message.documentMessage?.caption ?? \"\";\n}\n\nlet simpleType = 'unsupported';\nif (messageType === 'conversation' || messageType === 'extendedTextMessage') simpleType = 'text';\nif (messageType === 'imageMessage') simpleType = 'image';\nif (messageType === 'audioMessage') simpleType = 'audio';\nif (messageType === 'documentMessage') simpleType = 'document';\nif (messageType === 'stickerMessage') simpleType = 'sticker';\nif (messageType === 'reactionMessage') simpleType = 'reaction';\n\nconst normalized = String(text || \"\").trim();\nconst normalizedLower = normalized.toLowerCase();\n\n// Persistent state by chat\nlet staticData = {};\nif (typeof $getWorkflowStaticData === \"function\") {\n  staticData = $getWorkflowStaticData(\"global\");\n} else {\n  globalThis.__agentState = globalThis.__agentState || {};\n  staticData = globalThis.__agentState;\n}\nstaticData.chatStates = staticData.chatStates || {};\nconst chatKey = remoteJid || senderNumber || \"unknown\";\nconst currentState = staticData.chatStates[chatKey] || { enabled: false, contextLimit: 20 };\n\nlet nextState = { ...currentState };\nlet type = simpleType;\nlet ignore = false;\nlet ignoreReason = '';\nlet commandReply = '';\nlet contextLimit = currentState.contextLimit || 20;\nlet userPrompt = text;\n\nconst isDotShort = fromMe && (normalizedLower === \".\" || normalizedLower.startsWith(\". \"));\nconst isDotLong = fromMe && (normalizedLower === \"..\" || normalizedLower.startsWith(\".. \"));\nconst isOff = fromMe && normalizedLower === \"um minuto\";\n\nif (isOff) {\n  nextState.enabled = false;\n  nextState.contextLimit = currentState.contextLimit || 20;\n  staticData.chatStates[chatKey] = nextState;\n  type = \"command\";\n  commandReply = \"Agente desligado neste chat.\";\n  ignore = false;\n} else if (isDotLong) {\n  nextState.enabled = true;\n  nextState.contextLimit = 100;\n  staticData.chatStates[chatKey] = nextState;\n  contextLimit = 100;\n  if (normalizedLower === \"..\") {\n    type = \"command\";\n    commandReply = \"Agente ligado neste chat com contexto amplo (100 mensagens).\";\n    ignore = false;\n  } else {\n    type = \"text\";\n    userPrompt = normalized.slice(2).trim();\n    if (!userPrompt) {\n      type = \"command\";\n      commandReply = \"Agente ligado neste chat com contexto amplo (100 mensagens).\";\n    }\n  }\n} else if (isDotShort) {\n  nextState.enabled = true;\n  nextState.contextLimit = 20;\n  staticData.chatStates[chatKey] = nextState;\n  contextLimit = 20;\n  if (normalizedLower === \".\") {\n    type = \"command\";\n    commandReply = \"Agente ligado neste chat com contexto curto (20 mensagens).\";\n    ignore = false;\n  } else {\n    type = \"text\";\n    userPrompt = normalized.slice(1).trim();\n    if (!userPrompt) {\n      type = \"command\";\n      commandReply = \"Agente ligado neste chat com contexto curto (20 mensagens).\";\n    }\n  }\n} else {\n  contextLimit = currentState.contextLimit || 20;\n  if (!isMessageEvent) {\n    ignore = true;\n    ignoreReason = \"not_message_event\";\n  } else if (!senderNumber) {\n    ignore = true;\n    ignoreReason = \"missing_sender\";\n  } else if (isGroup) {\n    ignore = true;\n    ignoreReason = \"group\";\n  } else if (type === \"reaction\") {\n    ignore = true;\n    ignoreReason = \"reaction\";\n  } else if (type === \"unsupported\") {\n    ignore = true;\n    ignoreReason = \"unsupported\";\n  } else if (fromMe) {\n    ignore = true;\n    ignoreReason = \"from_me\";\n  } else if (!currentState.enabled) {\n    ignore = true;\n    ignoreReason = \"agent_off\";\n  } else if (type === \"text\" && !String(userPrompt || \"\").trim()) {\n    ignore = true;\n    ignoreReason = \"empty_text\";\n  }\n}\n\nreturn {\n  event,\n  ignore,\n  ignoreReason,\n  sender: remoteJid,\n  senderNumber,\n  pushName: data.pushName ?? body.sender ?? \"\",\n  type,\n  text,\n  userPrompt,\n  commandReply,\n  contextLimit,\n  raw_message: message,\n  raw_type: messageType,\n  evolutionData: data,\n  chatState: staticData.chatStates[chatKey] || currentState,\n};"
      },
      "id": "5de726ca-16eb-4497-8406-5c95891a234d",
      "name": "Adaptar Evolution",
      "type": "n8n-nodes-base.code",
      "position": [
        272,
        80
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "Você é um assistente para WhatsApp pessoal. Use apenas o contexto fornecido e a mensagem atual. Se faltar contexto, pergunte de forma curta em vez de inferir."
        }
      },
      "id": "220ca8e0-ca48-47db-85b2-7364b6e513cc",
      "name": "Knowledge Base Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1168,
        80
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "id": "e5403249-be46-4e79-8ae6-fd761c457229",
      "name": "Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        1120,
        304
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "<REDACTED_ID>",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=memory_{{ $('Adaptar Evolution').item.json.sender }}"
      },
      "id": "60c43f22-ac2a-4a75-8541-0833bdb40e5d",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1280,
        304
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $(\"CONFIG_EVOLUTION\").item.json.evolution_url }}/message/sendText/{{ $(\"CONFIG_EVOLUTION\").item.json.instance }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "<REDACTED>"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $(\"Adaptar Evolution\").item.json.senderNumber }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output || \"Sem resposta gerada.\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2b11feea-ce08-4078-8362-7fd0d48e01a2",
      "name": "Enviar via Evolution",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1568,
        80
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond_text_type",
                    "leftValue": "={{ $json.type }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "text"
                  },
                  {
                    "id": "cond_text_ignore_false",
                    "leftValue": "={{ $json.ignore === true ? \"true\" : \"false\" }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "false"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond_image_type",
                    "leftValue": "={{ $json.type }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "image"
                  },
                  {
                    "id": "cond_image_ignore_false",
                    "leftValue": "={{ $json.ignore === true ? \"true\" : \"false\" }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "false"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond_audio_type",
                    "leftValue": "={{ $json.type }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "audio"
                  },
                  {
                    "id": "cond_audio_ignore_false",
                    "leftValue": "={{ $json.ignore === true ? \"true\" : \"false\" }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "false"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond_document_type",
                    "leftValue": "={{ $json.type }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "document"
                  },
                  {
                    "id": "cond_document_ignore_false",
                    "leftValue": "={{ $json.ignore === true ? \"true\" : \"false\" }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "false"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Document"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond_sticker_type",
                    "leftValue": "={{ $json.type }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "sticker"
                  },
                  {
                    "id": "cond_sticker_ignore_false",
                    "leftValue": "={{ $json.ignore === true ? \"true\" : \"false\" }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "false"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sticker"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond_command_type",
                    "leftValue": "={{ $json.type }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "command"
                  },
                  {
                    "id": "cond_command_ignore_false",
                    "leftValue": "={{ $json.ignore === true ? \"true\" : \"false\" }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "false"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Command"
            }
          ]
        },
        "options": {}
      },
      "id": "ef968f18-1113-4bae-9b7d-52464be8f167",
      "name": "Filtrar Texto",
      "type": "n8n-nodes-base.switch",
      "position": [
        560,
        80
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $(\"CONFIG_EVOLUTION\").item.json.evolution_url }}/chat/getBase64FromMediaMessage/{{ $(\"CONFIG_EVOLUTION\").item.json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "<REDACTED>"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"message\": $(\"Adaptar Evolution\").item.json.evolutionData } }}",
        "options": {}
      },
      "id": "91f7e9a9-0f2d-4c1f-97ad-4aef4015da6e",
      "name": "Obter Midia Base64",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "const media = $input.first().json;\nconst msg = $('Adaptar Evolution').item.json;\n\nconst type = msg.type;\nconst caption = (msg.text || '').trim();\nconst mimeRaw = media.mimetype || 'application/octet-stream';\nconst mimeType = String(mimeRaw).split(';')[0] || mimeRaw;\n\nlet instruction = 'Responda em portugues de forma objetiva.';\nif (type === 'image') {\n  instruction = 'Analise a imagem e responda em portugues de forma objetiva. Se houver texto, extraia os pontos principais.';\n} else if (type === 'audio') {\n  instruction = 'Transcreva o audio e responda em portugues de forma objetiva.';\n} else if (type === 'document') {\n  instruction = 'Leia o documento e responda em portugues de forma objetiva, destacando os pontos principais.';\n} else if (type === 'sticker') {\n  instruction = 'Interprete a figurinha (sticker) e explique a intencao ou emocao em portugues de forma objetiva.';\n}\n\nconst contextText = caption ? ('Texto enviado junto com a midia: \"' + caption + '\"') : 'O usuario enviou apenas a midia, sem texto adicional.';\n\nreturn {\n  geminiRequest: {\n    contents: [\n      {\n        parts: [\n          { text: instruction + \"\\n\" + contextText },\n          {\n            inline_data: {\n              mime_type: mimeType,\n              data: media.base64,\n            },\n          },\n        ],\n      },\n    ],\n  },\n};"
      },
      "id": "b19adf7f-e0f6-4cb5-b351-844596b6a628",
      "name": "Preparar Prompt Midia",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        256
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ \"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=\" + $(\"CONFIG_EVOLUTION\").item.json.gemini_api_key }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.geminiRequest }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "53f6d2e8-b8c9-4765-9d9d-37fb9e30360b",
      "name": "Gemini Midia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst parts = data?.candidates?.[0]?.content?.parts ?? [];\nconst output = parts\n  .map((p) => p?.text)\n  .filter(Boolean)\n  .join('\\n')\n  .trim();\n\nconst err = data?.error?.message ? String(data.error.message) : '';\n\nreturn {\n  output: output || (err ? ('Nao consegui processar a midia agora: ' + err) : 'Nao consegui processar a midia agora. Tente novamente.'),\n};"
      },
      "id": "f37d95ce-6e9c-4bd9-b902-0425d1d59fd5",
      "name": "Extrair Resposta Midia",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        256
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bfc05f4b-59b2-47e1-ae2f-95e08205c4f8",
              "name": "output",
              "value": "={{ $(\"Adaptar Evolution\").item.json.commandReply || \"Comando processado.\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6d66322f-72c1-4913-a8eb-a8dd50022c71",
      "name": "Resposta Comando",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        448
      ]
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 1,
        "unit": "minutes"
      },
      "id": "dfd1f765-8cf1-4607-86a2-f58a5597b00a",
      "name": "Delay 1 Minuto",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1824,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $(\"CONFIG_EVOLUTION\").item.json.evolution_url }}/chat/findMessages/{{ $(\"CONFIG_EVOLUTION\").item.json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "<REDACTED>"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"where\": { \"key\": { \"remoteJid\": $(\"Adaptar Evolution\").item.json.sender } }, \"limit\": $(\"Adaptar Evolution\").item.json.contextLimit } }}",
        "options": {}
      },
      "id": "5e8dcb7c-2f68-4e8f-ac4a-57490ea5f6f1",
      "name": "Buscar Contexto Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const adapted = $(\"Adaptar Evolution\").item.json;\nconst records = $input.first().json?.messages?.records ?? [];\nconst limit = Number(adapted.contextLimit || 20);\nconst supported = new Set([\"conversation\",\"extendedTextMessage\",\"imageMessage\",\"audioMessage\",\"documentMessage\",\"stickerMessage\"]);\n\nfunction extractContent(rec) {\n  const mt = rec?.messageType || \"\";\n  const m = rec?.message || {};\n  if (mt === \"conversation\") return m.conversation || \"\";\n  if (mt === \"extendedTextMessage\") return m.extendedTextMessage?.text || \"\";\n  if (mt === \"imageMessage\") return m.imageMessage?.caption || \"[imagem]\";\n  if (mt === \"audioMessage\") return \"[audio]\";\n  if (mt === \"documentMessage\") return m.documentMessage?.caption || \"[documento]\";\n  if (mt === \"stickerMessage\") return \"[figurinha]\";\n  return \"\";\n}\n\nconst contextLines = records\n  .filter((r) => supported.has(String(r.messageType || \"\")))\n  .slice(0, limit)\n  .reverse()\n  .map((r) => {\n    const who = r?.key?.fromMe ? \"EU\" : \"CONTATO\";\n    const content = extractContent(r);\n    const mt = r?.messageType || \"\";\n    if (!content) return \"\";\n    return `[${who}] (${mt}) ${content}`;\n  })\n  .filter(Boolean);\n\nconst prompt = [\n  \"Contexto recente da conversa (do mais antigo para o mais novo):\",\n  contextLines.join(\"\\n\") || \"(sem contexto recente)\",\n  \"\",\n  \"Mensagem atual do contato:\",\n  adapted.userPrompt || adapted.text || \"\",\n  \"\",\n  \"Instrucoes: responda em portugues, de forma objetiva; nao invente fatos; se faltar contexto, pergunte curto.\",\n].join(\"\\n\");\n\nreturn { text: prompt };"
      },
      "id": "4c9b4f6d-2f05-4a1a-8525-fafdb70ef5f8",
      "name": "Montar Prompt Contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        80
      ]
    }
  ],
  "connections": {
    "Webhook Evolution": {
      "main": [
        [
          {
            "node": "CONFIG_EVOLUTION",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONFIG_EVOLUTION": {
      "main": [
        [
          {
            "node": "Adaptar Evolution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adaptar Evolution": {
      "main": [
        [
          {
            "node": "Filtrar Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Texto": {
      "main": [
        [
          {
            "node": "Buscar Contexto Chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obter Midia Base64",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obter Midia Base64",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obter Midia Base64",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obter Midia Base64",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta Comando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Contexto Chat": {
      "main": [
        [
          {
            "node": "Montar Prompt Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Prompt Contexto": {
      "main": [
        [
          {
            "node": "Knowledge Base Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Knowledge Base Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Knowledge Base Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base Agent": {
      "main": [
        [
          {
            "node": "Delay 1 Minuto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter Midia Base64": {
      "main": [
        [
          {
            "node": "Preparar Prompt Midia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Prompt Midia": {
      "main": [
        [
          {
            "node": "Gemini Midia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Midia": {
      "main": [
        [
          {
            "node": "Extrair Resposta Midia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Resposta Midia": {
      "main": [
        [
          {
            "node": "Delay 1 Minuto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resposta Comando": {
      "main": [
        [
          {
            "node": "Enviar via Evolution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay 1 Minuto": {
      "main": [
        [
          {
            "node": "Enviar via Evolution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}
